/* --- Custom Font Face --- */
@import './fonts';

// Custom brand colors
@import './variables/colors/brand.colors';

/* --- Custom Button Styles --- */
@import './buttons';

@include color-scheme($os-dark) {
    :where(html) {
        --surface-1: #{$app-clr-background-dark};
        --header-bg: #{$app-clr-header-background-dark};
        --clr-body-title: #{$app-clr-body-title-dark};
        --clr-body-text: #{$app-clr-body-text-dark};
        --clr-body-border: #{$app-clr-body-border-dark};
    }
}

@include color-scheme($os-light) {
    :where(html) {
        --surface-1: #{$app-clr-background-light};
        --header-bg: #{$app-clr-header-background-light};
        --clr-body-title: #{$app-clr-body-title-light};
        --clr-body-text: #{$app-clr-body-text-light};
        --clr-body-border: #{$app-clr-body-border-light};
    }
}

body {
    font-family: Satoshi, $font-sans;
}

header {
    padding-block: $size-3;
    margin-bottom: $size-9;
    background-color: var(--header-bg);
}

main {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    row-gap: 4rem;
}

article {
    display: grid;
    gap: $size-3;
    position: relative;
    padding-block: 1rem;
    border-block: 1px var(--clr-body-border) solid;

    &::before {
        content: attr(data-title);
        font-size: $font-size-3;
        font-weight: $font-weight-5;
        color: var(--clr-body-title);
        position: absolute;
        top: 0;
        transform: translateY(-100%);
    }

    .grid-col-title,
    .button-group {
        display: grid;
        place-items: start;
        grid-template-columns: subgrid;
    }

    .grid-col-title {
        grid-column: 2 / span 5;
    }

    .button-group {
        grid-column: 1 / span 6;
    }

    p {
        font-size: 0.875rem;
        font-weight: $font-weight-5;
        color: var(--clr-body-text);
    }

    &:last-of-type {
        margin-bottom: $size-8;
    }
}

/* --- General Styles for Demo --- */
.is-focus {
    outline: var(--_outline) 2px solid;
    outline-offset: 3px;
}

.is-hover {
    --_highlight-size: .2rem;
}

.is-pressed {
    @include color-scheme($os-dark) { box-shadow: hsl(var(--_hue) 0% 0% / 45%) 1px 1px 40px 0 inset; }
    @include color-scheme($os-light) { box-shadow: hsl(var(--_hue) 0% 80% / 45%) 1px 1px 40px 0 inset; }
}
