<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Starter Template</title>
</head>

<body>
    <header>
        <div class="wrapper">
            <p>Design System: Atomic Component</p>
            <h1>Buttons</h1>
        </div>
    </header>
    <main>
        <article class="wrapper">
            <button>Default</button>
            <input type="button" value="<input>"/>
            <button>
                <svg viewBox="0 0 24 24" stroke="currentColor" width="24" height="24" aria-hidden="true">
                    <path d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
                Icon
            </button>
            <button type="submit">Submit</button>
            <button type="button">Type Button</button>
            <button type="reset">Reset</button>
            <button disabled>Disabled</button>
            <button>Custom</button>
            <input type="file">
        </article>
    </main>
</body>

</html>