$app-clr-background-dark: $gray-10;
$app-clr-background-light: hsl(0deg 0% 100%);
$app-clr-header-background-dark: $gray-9;
$app-clr-header-background-light: $gray-1;
$app-clr-body-title-dark: $gray-2;
$app-clr-body-text-dark: $gray-6;
$app-clr-body-title-light: $gray-8;
$app-clr-body-text-light: $gray-7;
$app-clr-body-border-dark: $gray-7;
$app-clr-body-border-light: $gray-4;
