// Brand color goes here

/* 
    Todo:
    1: Add background color for dark and light mode
    2: Add text color for dark and light mode
    3: Add header color for dark and light mode
    4: Set primary secondary and tertiary color for dark and light mode
*/

$app-clr-background-dark: $gray-10;
$app-clr-background-light: hsl(0deg 0% 100%);
$app-clr-header-background-dark: $gray-9;
$app-clr-header-background-light: $gray-1;
